/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    background-color: #261E35;
    margin: 0;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.flex-center-between {
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.card {
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #868B93;
    background-color: #3C354A;
}

.p-carousel-content {
    overflow: visible;
}

.p-carousel-item {
    display: block;
    width: 25%;
    /* padding: 0 10px; */
}

.p-carousel-items-container {
    padding: 30px 0 0;
}

/* Form components styles */

.mat-form-field-infix {
    width: auto !important;
    margin-right: 3.57em;
}

.mat-autocomplete-trigger {
    min-width: 220px;
    padding: 15px 20px;
    background: #2F293E;
    border-radius: 15px;
    color: #fff;
}

.currency-select .mat-form-field {
    width: 200px;
    background-color: rgba(26, 17, 29, 0.7);
    font-size: 14px;
    text-transform: uppercase;
}