<div class="dashboard-container d-flex">
    <div class="column">
        <app-promo></app-promo>
    </div>
    <div class="column">
        <div *ngIf="data">
            <app-chart [data]="data"></app-chart>
        </div>
    </div>
</div>

<div class="content-section implementation carousel-demo">
    <div class="card">
        <p-carousel [value]="images" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1"
        [circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
            <ng-template let-image pTemplate="item">
              <div class="item card">
                <img src="{{image.picture}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{image.random}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </ng-template>
        </p-carousel>
    </div>
  </div>

