<div class="sidebar d-flex flex-center-between flex-column">
    <div class="logo">
        <img src="assets/images/logo.svg" alt="Logo">
    </div>
    <ul class="navigation">
        <li><a href="">
            <img src="assets/images/icons/Home.svg" alt="Home icon">
        </a></li>
        <li><a href="">
            <img src="assets/images/icons/Graph.svg" alt="Graph icon">
        </a></li>
        <li><a href="">
            <img src="assets/images/icons/Bag.svg" alt="Bag icon">
        </a></li>
        <li><a href="">
            <img src="assets/images/icons/Setting.svg" alt="Setting icon">
        </a></li>
    </ul>
    <a href="" class="exit-link">
        <img src="assets/images/icons/Logout.svg" alt="Logout icon">
    </a>
</div>