<div class="card" *ngIf="data">
    <h4>Market Trend</h4>
    <div class="d-flex">
        <div class="name-column">
            <h5>Name</h5>
        </div>
        <div class="last-price-column">
            <h5>Last Price</h5>
        </div>
        <div class="last-day-price-column">
            <h5>24h change</h5>
        </div>
    </div>
    <div class="d-flex" *ngFor="let item of data">
        <div class="name-column">
            <span>{{ item.id }}</span>
            <span>{{ item.name }}</span>
        </div>
        <div class="last-price-column">
            <span>{{ item.price }}</span>
        </div>
        <div class="last-day-price-column">
            <div class="price-change negative" *ngIf="item['30d'].volume_change_pct < 0">
                <span>{{ item['30d'].volume_change_pct }}</span>
                <span class="icon">
                    <img src="assets/images/icons/Arrow-price-neg.svg" alt="Arrow price icon">
                </span>
            </div>

            <div class="price-change" *ngIf="item['30d'].volume_change_pct > 0">
                <span>{{ item['30d'].volume_change_pct }}</span>
                <span class="icon">
                    <img src="assets/images/icons/Arrow-price-pos.svg" alt="Arrow price icon">
                </span>
            </div>
        </div>
    </div>
</div>
