<header class="header d-flex flex-center-between">
    <div class="d-flex flex-center-between">
        <a href="" class="btn-link prev-link">
            <img src="assets/images/icons/Arrow.svg" alt="Arrow icon">
        </a>

    </div>
    <h2 class="page-name">Home</h2>
    <div class="d-flex flex-center-between">
        <!-- <app-autocomplete></app-autocomplete> -->
    
        <div class="control-bar d-flex flex-center-between">
            <a href="" class="btn-link btn-outline notification">
                <img src="assets/images/icons/Bell.svg" alt="Bell icon">
                <span class="alert"></span>
            </a>
            <a href="" class="profile">
                <img src="assets/images/icons/Profile-avatar.svg" alt="Profile icon">
            </a>
        </div>
    </div>
</header>
